<?xml version="1.0"?>
<config>
    <modules>
        <Gfe_SphinxSearch>
            <version>0.1.0</version>
        </Gfe_SphinxSearch>
    </modules>
    <global>
        <blocks>
            <sphinxsearch>
                <class>Gfe_SphinxSearch_Block</class>
            </sphinxsearch>
        </blocks>
        <helpers>
            <sphinxsearch>
                <class>Gfe_SphinxSearch_Helper</class>
            </sphinxsearch>
        </helpers>        
        <models>
            <sphinxsearch>
                <class>Gfe_SphinxSearch_Model</class>
                <resourceModel>sphinxsearch_resource</resourceModel>
            </sphinxsearch>			
            <sphinxsearch_resource>
                <class>Gfe_SphinxSearch_Model_Resource</class>
            </sphinxsearch_resource>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext>Gfe_SphinxSearch_Model_Resource_Fulltext</fulltext>
                </rewrite>
            </catalogsearch_resource>			
        </models>
		<resources>
			<sphinxsearch_setup>
				<setup>
					<module>Gfe_SphinxSearch</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection><use>core_setup</use></connection>
			</sphinxsearch_setup>
			<sphinxsearch_write>
				<connection><use>core_write</use></connection>
			</sphinxsearch_write>
			<sphinxsearch_read>
				<connection><use>core_read</use></connection>
			</sphinxsearch_read>
		</resources>		
    </global>
    <!--<frontend>
        <layout>
            <updates>
                <productson404>
                    <file>randomproducts.xml</file>
                </productson404>
            </updates>
        </layout>
    </frontend>-->
    <default>
        <sphinxsearch>
            <active>
                <frontend>0</frontend>
                <admin>0</admin>
            </active>
            <server>
                <host>localhost</host>
                <port>9312</port>
            </server>
        </sphinxsearch>
    </default>	
</config>
